<!--<app-select [array]="countries" (choice)="choiceHandler($event)"></app-select>
<app-select [array]="cities"></app-select>-->

<!--<app-table></app-table>
<app-invoice></app-invoice>-->
<!--<app-redsquare></app-redsquare>-->
<!--
<app-ngif></app-ngif>
-->
<!--<app-converter></app-converter>-->
<!--<app-c1></app-c1><br>
<app-c2></app-c2>-->
<!--<app-c3></app-c3><br>
<app-c4></app-c4>-->
<!--<a routerLink="/sasha">Sasha</a><br>
<a routerLink="/masha">Masha</a><br>
<a routerLink="/dasha">Dasha</a><br>
<a routerLink="/home">Home</a><br><br>


<router-outlet></router-outlet>-->

<!--<app-auth></app-auth>-->

<!--<app-israel-card></app-israel-card>-->
<!--<app-binary-inputs></app-binary-inputs>-->

<app-who-wants-to-be></app-who-wants-to-be>

